# Python / FastApi
backend/venv/
backend/__pycahe__/
*.pyc 
*.pyo 
*.pyd 
.env 
*.db 
*.sqlite3 

#Node / Vite 
frontend/node_modules/ 
frontend/dist/ 
frontend/.env.local 

#IDEs 
.vscode/ 
.idea/ 
*.swp

backend/bd_prueba - Hoja 1.csv
backend/regristos - Hoja 1.csv
backend/registros-docentes.csv
backend/registros-directores.csv
