NOMBRE,IDENTIFICADOR,CONTRASEÑA,ROL,GRUPO
NOMBRE COMPLETO DIRECTOR,director@escuela.ejemplo.mx,CONTRASEÑA,Director,
NOMBRE COMPLETO DOCENTE,docente@escuela.ejemplo.mx,CONTRASEÑA,Docente,
NOMBRE COMPLETO ALUMNO,XXXX0000000000,CONTRASEÑA,Alumno,GRUPO
